<div>
<img [src]="food.imageUrl" [alt]="food.name">
</div>
<div class="details">
    <div class="header">
        <span class="name">
              {{food.name}}
        </span>
        <span class="favourite{{food.favourite?'':'not'}}">❤</span>
    </div>
    <div class="origins">
        <span *ngFor="let origin of food.origins">
            {{origin}}
        </span>
    </div>
    <div class="tag">
        <app-tags [foodpagetags]="food.tags"></app-tags>
    </div>
    <div class="cook-time">
        <span>
            Time to cook about <strong> {{food.cookTime}} </strong> Minutes
        </span>
    </div>
    <div class="price">
        <span>
            {{food.price | currency}}
        </span>
    </div>
     <button (click)="addToCart()">Add to Cart</button>
</div>
